.card.block
  .card__ellipsis
    include ellipsis.pug
  .card__photo
    img(src="/static/img/general/card.png" alt="card img")
  .card__info
    h3.card__name Иванов Андрей&nbsp;Петрович
    p.card__post Генеральный директор
      span.card__place «продукты»
    a.card__phone(href="tel:+79651001010") +7 965 100 10 10
    a.card__phone(href="tel:+74955664464") +7 495 566 44 64 (доб. 154)
    a.card__email(href="mailto:andrey.ivanov@mycompany.ru") andrey.ivanov@mycompany.ru