.calendar
  width 100%
  max-width 240px
  border-radius 3px
  border 1px solid border-color
  background-color white
  padding 12px 17px
  display flex
  align-items center
  cursor pointer
  &:hover
    .calendar__icon
      opacity 0.7
    .calendar__text
      color light-blue-color

.calendar__icon
  margin-right 8px
  @extend .trs

.calendar__text
  color blue-color
  font-size 14px
  @extend .trs
