// Подключаемые компоненты

/* Cтили блока buttons */
@import "buttons.styl"

/* Cтили блока nav */
@import "nav.styl"

/* Cтили блока logo */
@import "logo.styl"

/* Cтили блока form */
@import "form.styl"

/* Cтили блока breadcrumbs */
@import 'breadcrumbs.styl'

/* Cтили блока page-title */
@import 'page-title.styl'

/* Cтили блока infoblock */
@import 'infoblock.styl'

/* Cтили блока calendar */
@import 'calendar.styl'

/* Cтили блока block */
@import 'block.styl'

/* Cтили блока ellipsis */
@import 'ellipsis.styl'

/* Cтили блока backtotop */
@import 'backtotop.styl'