.form__group
  position relative

.form__label
  position absolute
  @extend .trs
  &.hide
    opacity 0

.form__input
  &:focus
    &+.form__label
      opacity 0

.form-number
  height 40px
  @extend .flex-center
  font-weight 700
  font-size 18px
  max-width 110px
  padding-left 15px
  background transparent
  border 2px solid border-color
  border-radius 2px