.infoblock__block
  padding 32px 25px
  @extend .flex-sb-center
  border-radius 5px
  border 1px solid transparent
  &:nth-child(1)
    background-color #066087
    box-shadow 0 0 5px rgba(0, 130, 108, 0.05)
    border-color #5eab9e
    .infoblock__cnt
      color white
    .infoblock__text
      color #baeae2
  &:nth-child(2)
    background-color light-green-color
    box-shadow 0 0 5px rgba(0, 128, 41, 0.05)
    border-color #9bc4a8
    .infoblock__cnt
      color #066087
    .infoblock__text
      color #066087
  &:nth-child(3)
    background-color yellow-color
    box-shadow 0 0 5px rgba(96, 117, 0, 0.05)
    border-color #deeaa8
    .infoblock__cnt
      color #555c35
    .infoblock__text
      color #899455
  &:nth-child(4)
    background-color red-color
    box-shadow 0 0 5px rgba(144, 0, 38, 0.05)
    border-color #cf4368
    .infoblock__cnt
      color white
    .infoblock__text
      color #ffdee7

.infoblock__cnt
  font-size 30px
  font-weight 700
  margin-bottom 5px
  display block

.infoblock__text
  font-size 12px
  text-transform uppercase