// ОБЩИЕ СТИЛИ

.container 
	width 100%
	max-width 100%
	margin 0 auto

.row
	display flex
	justify-content space-between
	margin 0 -15px

.col-1
	margin 0 15px
	width 25%
	max-width 300px

.col-2
	margin 0 15px
	width 50%
	max-width 630px

.col-3
	margin 0 15px
	width 75%
	max-width 960px

.col-4
	margin 0 15px
	width 100%
	max-width 100%
