// ЦВЕТА
light-blue-color = #35b0e4
light-gray-color = #333333
lighten-gray-color = #cccccc
light-border-color = #e0e0e0
red-color = #eb547c
light-red-color = lighten(red-color, 20%)
yellow-color = #f3ffbd
light-yellow-color = #f6ffd0
light-green-color = #b2dbbf
border-color = #eaeaea
green-color = #70c1b3
bg-color = #f9f9f9
blue-color = #247ba0
nav-color = #64a2bd
nav-text-color = #7ab3cc
th-color = #6a6a6a
main-bg-color = #f9f9f9

// РАЗМЕРЫ

screen-lg = 1200px
screen-md = 768px
screen-sm = 480px

// ШРИФТЫ
