.bid__header
  margin-bottom 35px

.bid__btn
  margin-bottom 30px

.bid__table
  .table__table
    th,td
      &:first-child
        max-width 292px
        text-align left
        justify-content flex-start
        padding-left 30px
      &:nth-child(2)
        max-width 120px
    tbody
      td
        &:first-child
          padding-left 40px
