.object__header
  @extend .flex-sb-end
  margin-bottom 20px

.object__infoblock
  margin-bottom 30px

.object__graph
  align-self flex-start

.object__graph-header
  background white
  box-shadow none

.object__table
  margin-top 40px