// Подключаем секции


// Главная страница
@import 'main.styl'

// Авторизация
@import 'auth.styl'

// Шапка
@import 'header.styl'

// СайдБар
@import 'sidebar.styl'

// Подвал
@import 'footer.styl'

// Главная статистика
@import 'statistics.styl'

// Объекты
@import 'object.styl'

// Карточка Руководителя
@import 'card.styl'

// Таблица
@import 'table.styl'

// Кураторы
@import 'curator.styl'

// Список сотрудников
@import 'colloborator.styl'

// Заявки
@import 'bid.styl'

// Новая заявка
@import 'bid-new.styl'